#main-banner {
    background: blue;
    padding: 1em;
    text-align: center;
}

#main-container {
    display: flex;
}

#left-container {
    width: 30vw;
    padding: 1em
}

#right-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#search-form {
    padding: 1em;
    border: 1px solid red;
}

#current-weather {
    padding: 1em;
    border: 1px solid red;
}

#forecast {
    padding: 1em;
    border: 1px solid red;
}

#search-button {
    margin-top: 1em;
}

#search-histories {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.cityHistoryBtn {
    margin: 10px;
}
